.badge-circle-container.large {
  --size: 20px;
  --font-size: 10px;
}
.badge-circle-container.medium {
  --size: 15px;
  --font-size: 15px;
}
.badge-circle-container.small {
  --size: 10px;
  --font-size: 10px;
}
.badge-circle-container {
  border: 1px solid lightcoral;
  padding: var(--size);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background-color: orange;
  display: inline-block;
  font-size: var(--font-size);
  font-weight: 700;
  color: white;
}

.badge-circle-container:not(:first-child) {
  margin-left: -10px;
}
