.label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: #ffffff; /* Text color for dark theme */
}

.label-text {
  margin-left: 16px;
}

.toggle {
  isolation: isolate;
  position: relative;
  height: 20px;
  width: 40px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: -8px -4px 8px 0px #1a2026, 8px 4px 12px 0px #394a56,
    4px 4px 4px 0px #394a56 inset, -4px -4px 4px 0px #1a2026 inset;
}

.toggle-state {
  display: none;
}

.indicator {
  height: 100%;
  width: 200%;
  background: #394a56; /* Background color for dark theme */
  border-radius: 15px;
  transform: translate3d(-75%, 0, 0);
  transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
  box-shadow: -8px -4px 8px 0px #1a2026, 8px 4px 12px 0px #394a56;
}

.toggle-state:checked ~ .indicator {
  transform: translate3d(25%, 0, 0);
}
