aside.sidebar-container {
  height: calc(100vh - 60px);
  width: 150px;
  background-color: var(--bg-panel);
  box-shadow: var(--shadow-theme);
  position: fixed;
  left: 0;
  z-index: 1;
  padding-top: 70px;
  transition: width 0.3s ease;
  .nav-option:nth-child(2) {
    border-top: 1px solid var(--border-color);
  }
  .nav-option {
    font-size: 14px;
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid var(--border-color);
    cursor: pointer;
  }

  .nav-option.nav-active {
    background-color: var(--selected-item);
  }
  .nav-close {
    visibility: hidden;
  }
  .main-option-container:hover {
    .nav-close {
      visibility: visible;
    }
    // background-color: rebeccapurple;
    // .nav-close {
    //   visibility: visible;
    // }
  }
}

aside.sidebar-container.collapsed {
  width: 50px;
}

aside.sidebar-container > .toggle-sidebar {
  position: absolute;
  bottom: 0px;

  right: 1px;
  border: none;
}

.main-container {
  margin-left: 0px;
}

.main-sidebar-right-container {
  float: right;
  width: calc(100% - 190px);
  height: calc(100vh - 100px);
  background-color: var(--bg-panel);
  padding: 20px;
  padding-top: 80px;
}
