[data-theme="light"] {
  --bg-color: #fff;
  --text-color: #333;
  --heading-color: #444;
}

[data-theme="dark"] {
  --bg-color: #333 !important;
  --text-color: #fff !important;
  --heading-color: gray;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
